button {
  border: 0;
  outline: 0;
  border-radius: 4px;
  background-color: $color-background;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  height: 34px;
  color: $color-background-accent;
  font-weight: bold;
  cursor: pointer;
  min-width: 34px;

  &:hover {
    color: white;
  }
}

.input-row {
  margin: 4px;
}

input, textarea {
  background-color: $color-input-background;
  color: $color-input-text;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $color-input-border;
}