$color-background-accent: #1c1e26;
$color-background: #2e303e;
$color-background-light: #3f4255;
$color-main: #30aad7;
$color-font: white;
$color-link: $color-main;
$color-input-background: $color-background-light;
$color-input-border: #ccc;
$color-input-text: white;