#index {
  @include flexbox();
  @include flex-direction(column);
  background-color: $color-background-dark;

  .start {
    flex-grow: 1;
    @include flexbox();
    @include justify-content(space-evenly);
    padding: 50px;

    h2 {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      i {
        margin-right: 14px;
      }
      font-weight: 200;
      font-size: 1.3em;
      text-align: center;
    }

    a {
      cursor: pointer;
      &:hover {
        h2 {
          font-weight: 400;
        }
      }
    }

    .new, .upload {
      border-radius: 8px;
      width: calc(50% - 100px);
      background-color: $color-background-dark;
    }
  }

  footer {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    background-color: $color-background-dark;
  }
}