<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Good Morning" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/dist/main.css")}/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/dist/phoenix.js")}></script>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/dist/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="title">
        <div class="title">
            <a href="/">
                <img src={Routes.static_path(@conn, "/images/logo.png")} alt="logo" |>
                <h1>Good Morning</h1>
            </a>
        </div>
        <%= if Map.has_key?(@conn.assigns, :current_user) && @current_user != nil do %>
        <div class="flex flex-all-center pointer" onclick="window.APP.visibility.switch('user-menu');window.APP.props.switch('user-menu-arrow', 'rotate-180')">
        <%= user_name_with_pic @current_user %>
        <%= icon "expand_more", id: "user-menu-arrow" %>
        </div>
        <div id="user-menu" class="user-menu hidden">
            <nav>
                <a href={Routes.user_path(@conn, :index)}>
                <%= gettext "Profile" %>
                </a>

                <%= if @current_user.type_id == "admin" do %>
                <a href={Routes.admin_path(@conn, :index)}>
                <%= gettext "Admin" %>
                </a>
                <% end %>
            </nav>
        </div>
        <% end %>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
